<% include partials/header %>
<h1><%= movie.title %></h1>
<img src='<%= movie.poster %>'></img>
<form method='POST' action='/home/<%= currentUser._id %>?_method=PUT'>
  <input type='text' name='title' value='<%= movie.title %>' style:'display: none'></input>
  <input type='text' name='poster' value='<%= movie.poster %>' style:'display: none'></input>
  <button class='btn btn-success btn-lg'>Add to list</button>
</form>
<% include partials/footer %>
